body{
    color:#5c6f70;

}

/* .signupFormContainer{
    border-radius: 3%;
    border-style: solid;
    border-color: gray;
    border-width: 1%;
    margin-left: 30%;
    margin-right: 30%;
    padding-inline: 3%;
    background: #d6d5c7;
} */

.inputRegister{

     background: transparent;
    border: none;
    border-bottom: 1px solid #123c69   ;

}

.btnsubmit{
    background-color: #AC3B61;
    border: #AC3B61;
    color: white;
    font-size: 25px;
}

 