

.select:hover {
    background-color: gray;
}
h1, h2, h3, h4, h5, h6{
    font-family:  serif;
    font-weight: bold;
    color: #123c69;
}


 
h4{
    font-family: sans-serif;
}

.moreInfo {
    background: #AC3B61;
    border: #AC3B61;
    color: white;
    font-size: 20px;

}
.moreInfo:hover {
    background: white;
    border: solid 1px #AC3B61;
    color: #AC3B61
}
.pagination{
    background-color: brown;
}