/*pallete: https://coolors.co/111d44-e0dfd0-71a9b7-5a8596-5c6f70*/
/* logo: https://secure.logomaker.com/es/step3/parent/526283782?force_font=127.ttf&lastsave=5b3d2b401cb17ed25c2f2301d987276f

/* Fonts
  font-family: 'Anton', cursive;
  font-family: 'Source Sans Pro', sans-serif;
*/

.app {
  text-align: center;
  background-color: #EBEBEB;

}


body{
 /* gradient background*/
  background: #e0dfd0;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}
